/* Container Principal */

body{
  overflow: hidden;
}
.HomeContainer {
  padding: 10px; 
  min-height: 100%; 
  flex-grow: 1;
  position: relative; 
  margin-top: 25px;
}

.HomeContainer h2 {
  font-size: 1.5rem;
  color: #333;
  margin: 0;
  margin-bottom: 25px;
}

.WelcomeBanner {
  background: linear-gradient(90deg, #26237E 0%, #4540E4 100%);
  color: white;
  padding-left: 30px;
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20vh;
  width: 100%;

  img{
      position: relative;
      height: 20vh;
      left: 20%;
  }
}

.BannerContent h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.BannerContent p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 85%; 
}

.Mascote {
  position: absolute;
  top: 0px;
  right: 12%;
  width: 170px;
  height: auto;
  transform: translateY(-40px) translateX(0); 
  z-index: 10; 
}

.Informacoes {
  display: flex;
  gap: 30px;
}

.InfosSegmentos {
  margin-top: -13px;
}

.InfosProdutores {
  flex: 2;
  max-height: 60vh;
}

.filterworkers{
  display: flex;
  flex-direction: column;
}

@media (max-width: 900px) {
  .HomeContainer {
    padding: 10px 15px;
    display: flex;
    flex-direction: column; 
    max-height: 100vh;
    overflow-y: auto;
    scrollbar-width: none;
     position: static;  
  }

  .HomeContainer h2{
    text-align: center;
  }

  .WelcomeBanner {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding: 125px;
  }


  .Informacoes {
    flex-direction: column;
    gap: 20px;
  }

  .InfosProdutores{
    min-height: 20vh;
    overflow-y: visible;
    order: 2;
  }

  .ListMetas{
    order: -1;

  }

  .BannerContent h3 {
    font-size: 1.3rem;
    padding-left: 15px;
  }

  .BannerContent p {
    font-size: 0.95rem;
    max-width: 90%;
    padding-left: 15px;
  }

  .BannerContent,
  .InfosProdutores,
  .Informacoes,
  .WelcomeBanner{
    width: 100%;               
    position: static;           
    flex: none;                 
    height: auto;               
    margin: 0;                  
    padding: 10px 0;   
  }

}

/* @media (max-width: 1200px){
  .WelcomeBanner img {
    display: none; 
  }

  .Mascote {
    display: none;
  }
} */