.ProdutorCard {
  background-color: white;
  padding: 15px 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  gap: 15px;
  transition: transform 0.2s;
  justify-content: space-between;
  margin:10px  15px;
}

.ProdutorCard:hover {
  transform: translateY(-2px);
}

.ProdutorFoto {
  width: 10%;
  height: 10%;
  border-radius: 50%;
  object-fit: cover;
}

.ProdutorInfo {
  display: flex;
  gap: 10px;
}

.ProdutorNome {
  font-weight: 600;
  color: #333;
}

.ProdutorSegmento {
  font-size: 0.85rem;
  color: #666;
}

.ProdutorStatus {
  font-size: 0.85rem;
  color: #666;
  margin-top: 5px;
}

.ProdutorStatus span {
  font-weight: 600;
  margin-left: 5px;
  padding: 2px 5px;
  border-radius: 4px;
}

.Active {
  color: #1abc9c;
  background-color: #e8f8f5;
}

.Inactive {
  color: #e74c3c;
  background-color: #fbedeb;
}


.Actions {
    display: flex;
    gap: 10px;
    padding-right: 10px;
}

.EditButton, .DeleteButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    padding: 5px;
    color: #666;
    transition: color 0.2s;
}

.EditButton:hover {
    color: #4540E4;
}

.DeleteButton:hover {
    color: #e74c3c;
}