.SideBar {
  background-color: #fcfcfc; 
  width: 15%; 
  height: 70%;
  min-height: 90vh;
  padding: 20px 0px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  border-right: 1px solid #e0e0e0;
  margin-top: 25px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 30px 45px; 
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #333;
}



.SideBar nav {
  margin: 50px 0px;
}

.SideBar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.SideBar nav ul li {
  margin-bottom: 10px; 
}

.SideBar nav ul li a {
  text-decoration: none;
  color: #555;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
  padding: 15px 45px; 
}

.SideBar nav ul li a:hover {
  color: #000;
}

.activeLink {
  background-color: #e8f0ff;
  color: #007bff !important;
  font-weight: 600;
  border-left: 4px solid #007bff; 
  padding-left: 41px !important; 
}

.LogoutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.LogoutButton {
  
  width: 80%;
  padding: 15px;
  background: linear-gradient(90deg, #4540E4 0%, #26237E 100%);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  margin-top: 35px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s;
}