.SideBar {
  background-color: #fcfcfc; 
  width: 15%; 
  height: 70%;
  min-height: 90vh;
  padding: 0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  border-right: 1px solid #e0e0e0;
  margin-top: 25px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Padding para afastar o logo da lateral */
  padding: 30px 45px; 
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1.2rem;
  color: #333;
}

.SideBar nav {
  margin: 50px 0px;
}

.SideBar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.SideBar nav ul li {
  /* Espaçamento entre os links */
  margin-bottom: 10px; 
}

.SideBar nav ul li a {
  text-decoration: none;
  color: #555;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  transition: background-color 0.2s, color 0.2s;
  /* Padding para afastar os links da lateral */
  padding: 15px 45px; 
}

.SideBar nav ul li a:hover {
  color: #000;
}

.activeLink {
  background-color: #e8f0ff;
  color: #007bff !important;
  font-weight: 600;
  border-left: 4px solid #007bff; 
  /* Ajuste de padding para compensar a borda e manter o alinhamento */
  padding-left: 41px !important; 
}

.exploreButton {
  display: block; 
  background: linear-gradient(135deg, #5b4cf3, #7c64ff);
  background-image: url("/src/assets/images/Fundo-btn-circular.png");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 15px;
  height: 25vh;
  /* Margens para afastar das bordas laterais e da base da SideBar */
  margin: 0 20px 20px 20px; 
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  padding: 20px;

  div{
    margin-bottom: 15px;
  }

  button{
    margin-top: 10px;
    background-color:white;
    color: #000;
    width: 20vh;
  }
}

.exploreButton a {
    color: white;
    text-decoration: underline;
    font-size: 12px;
    display: block;
    margin-top: 5px;
}