.MetasPage {
    padding: 20px;
}

.PageTitle {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* --- Search and Filters --- */

.SearchAndFilters {
    margin-bottom: 30px;
}

.SearchBar {
    display: flex;
    max-width:63%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
    }

.SearchBar input {
    flex-grow: 1;
    padding: 10px 15px;
    border: none;
    outline: none;
    background-color: transparent;
    color: #333;
}

.SearchButton {
    background-color: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.SegmentButtons {
    display: flex;
    gap: 15px;
}

.SegmentButton {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    color: white;
    background: linear-gradient(90deg, #4540E4 0%, #26237E 100%);
    opacity: 0.7;
    transition: opacity 0.2s;
}

.ActiveSegment {
    opacity: 1;
    box-shadow: 0 4px 8px rgba(38, 35, 126, 0.3);
}

/* --- Content Wrapper (Two Columns) --- */

.ContentWrapper {
    display: flex;
    gap: 30px;
}

.MetaListArea {
    list-style: none;
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 70vh;
    overflow-y: auto;
    scrollbar-width: none;
}

.MetaListArea::-webkit-scrollbar {
    display: none;
    width: 0
}

/* --- Sidebar (Sticky Column) --- */

.SidebarSticky {
    flex: 1;
    
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);

    position: sticky;
    top: 20px;
    height: fit-content;
}

.SidebarTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
}

.WorkerList {
    display: flex;
    flex-direction: column;
    /* gap: 8px; */
    margin-bottom: 15px;
    text-align: center;
    color: #333;
    max-height: 50vh; 
    overflow-y: auto;

    p{
        font-size: 2vh;
    }
}

.AddButton {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(90deg, #4540E4 0%, #26237E 100%);
    transition: opacity 0.2s;
}

.AddButton:hover {
    opacity: 0.9;
}